.swiper-slide {
    background-position: center;
    background-size: cover;
    z-index: unset;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: unset;
}

.swiper-wrapper{
    z-index: unset;
}

.prev-btn, .next-btn{
    display: inline;
}

.bolding{
    font-weight: bold;
}